page-home {
 }

img {
    max-width: 100%;
}
.scroll-content{
    background-color: rgba(18, 155, 209, 0.459);
}
p { text-align: justify; }

.toolbar-background-md {
    border-color: rgb(92, 78, 78);
    background: rgb(92, 78, 78);
}
.toolbar-title-md {
       color: #ffffff;
       font-family: 'Gochi Hand', cursive;
}