page-home {
 }

img {
    max-width: 100%;
}
.scroll-content{
    background-color: rgba(14, 114, 153, 0.685);
}
p { text-align: justify; }

.toolbar-background-md {
    // border-color: rgb(43, 41, 41);
    // background: rgb(43, 41, 41);
}
.toolbar-title-md {
       color: black;
       font-family: 'Original Surfer', cursive;
       font-size: 30px;
}

ion-title{
    text-align: center;
}